.nav-bar {
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	background-color: #F9F9FA;
	padding: 20px 10px;
	box-sizing: border-box;
}

.nav-bar__list {

	display: flex;
	justify-content: space-around;
}

.nav-bar__link {
	position: relative;
	color: var(--nav-btn);
}

.nav-bar__notification {
	background-color: var(--nav-notification);
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	font-weight: 600;
	color: white;
	border-radius: 10px;
	position: absolute;
	left: 10px;
	bottom: 10px;
}

.nav-bar__notification_empty {
	background-color: var(--nav-notification);
	width: 5px;
	height: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	font-weight: 600;
	color: white;
	border-radius: 3px;
	position: absolute;
	left: 20px;
	bottom: 20px;
}